In [1]:
import sys
print(sys.version)

3.5.2 |Anaconda 4.1.1 (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

In [88]:
import pandas as pd


df = pd.read_csv('export.csv')
df.head(5)

,score_unvoted_numbers,author,number_of_comments,score_likes_numbers,time_submitted_ago,score_dislikes_full,score_unvoted_full,score_dislikes_numbers,title,score_likes_full
0,33,nymusix,57 comments,34,7 hours ago,"<div class=""score dislikes"">32</div>","<div class=""score unvoted"">33</div>",32,[The Comeback] The NBA and its fans are now th...,"<div class=""score likes"">34</div>"
1,22,WizOfAwesSite,13 comments,23,5 hours ago,"<div class=""score dislikes"">21</div>","<div class=""score unvoted"">22</div>",21,"Josh Howard Calls It A Career, Moves To Coachi...","<div class=""score likes"">23</div>"
2,27,GettingLostInDaSauce,10 comments,28,6 hours ago,"<div class=""score dislikes"">26</div>","<div class=""score unvoted"">27</div>",26,James Harden Full Highlights 2015.03.19 vs Nug...,"<div class=""score likes"">28</div>"
3,3589,Athletics115,245 comments,3590,1 day ago,"<div class=""score dislikes"">3588</div>","<div class=""score unvoted"">3589</div>",3588,Report: Rockets To Retire Yao Ming’s Jersey,"<div class=""score likes"">3590</div>"
4,67,Dindinpark,36 comments,68,12 hours ago,"<div class=""score dislikes"">66</div>","<div class=""score unvoted"">67</div>",66,Curry on Golfing with POTUS,"<div class=""score likes"">68</div>"

In [95]:
'''Things I tried...didnt work'''
# for entry in df.number_of_comments:
#    df.number_of_comments.str.split(" ", 1)

# df.ix[:,2] refers to columns in df.  Same as df.number_of_comments
# the [:3] after that refers to the rows within that column

'''This worked'''
# split number of comments so that I can remove comments...maybe faster to do in unix
df.number_of_comments = df.number_of_comments.str.split(" ", 1)

df.head(5)

comment
comment
comment
comment
comment
comment
comment
comment
comment
comment
578 comments
587 comments
620 comments
622 comments
826 comments
914 comments
920 comments
1020 comments
1375 comments
1398 comments

In [96]:
# in bash ...
!cut -d"," -f3 export.csv | sort -n | head -10

!cut -d"," -f3 export.csv | sort -n | tail -10

comment
comment
comment
comment
comment
comment
comment
comment
comment
comment
578 comments
587 comments
620 comments
622 comments
826 comments
914 comments
920 comments
1020 comments
1375 comments
1398 comments